extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Ryan Emslie

        p.lead.text-light
          | Software Developer - Life Long Learner

        .portfolio-bio
          p
            | Goal oriented, strategic planner, and teamwork focused.  I am a proven problem solver and life longer learner with a wide range of business and development skills.  I have a passion for web development and am active in many local tech meet-ups.  I have previously worked as a Project Geologist and and Education Developer. <br />
            <br />
            
            | Information regarding my work as a freelance Education Developer can be found on the following websites: <a href='http://ryanemslie.com'>Ryan Emslie</a> and <a href='http://emsliedigital.com'>Emslie Digital</a>.
            <br/><br/>
            |Please take a look at my <a href='https://drive.google.com/open?id=194WsFRzhI4Y1hhwBQidkpZEhQN-LeZBg'>Resume</a>!
      
      
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills


        ul
          li HTML / CSS
          li JavaScript
          li React
          li Node.JS
          li Express
          li GraphQL 
          li MongoDB
          li Mongoose
        h6 Contact Info

        ul
          li 352-219-3450
          li ryan.emslie@gmail.com
          li 
            a(href='https://ryanemslie.com') Ryan Emslie Website
          li 
            a(href='https://emsliedigital.com') Emslie Digital
          


        a.button.expanded.linkedin(href='https://www.linkedin.com/in/ryan-emslie/') LinkedIn
        a.button.expanded.github(href='https://github.com/RyanEmslie') GitHub
        a.button.expanded.twitter(href='https://twitter.com/RTEmslie') Twitter
        a.button.expanded.live(href='https://drive.google.com/open?id=194WsFRzhI4Y1hhwBQidkpZEhQN-LeZBg') Resume

  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  