extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Ryan Emslie

        p.lead.text-light
          | Software Developer - Life Long Learner

        .portfolio-bio
          p
            | I am a Software Developer living in Gainesville, Florida. I am a proven problem solver and life long learner with wide range of business and development skills.  Prior to becoming a Developer, I worked as a Geologist and an Educational Developer.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills


        ul
          li HTML / CSS
          li JavaScript
          li React
          li Node.JS
          li Express
          li GraphQL 
          li MongoDB
          li Mongoose
        h6 Contact Info

        ul
          li 352-219-3450
          li ryan.emslie@gmail.com
          li 
            a(href='https://ryanemslie.com') Ryan Emslie Website
          li 
            a(href='https://emsliedigital.com') Emslie Digital
          


        a.button.expanded.linkedin(href='https://www.linkedin.com/in/ryan-emslie/') LinkedIn
        a.button.expanded.github(href='https://github.com/RyanEmslie') GitHub
        a.button.expanded.twitter(href='https://twitter.com/RTEmslie') Twitter

  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  